<!DOCTYPE html>
<html>
  <head>
    <title>EnvriPlus Survey Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">    
    
    <link rel="stylesheet" href="../envriplus.css">
    
</head>
    <body>
    <div class="container">
    <hr>
      <table id='header'>
        <tr>
          <td>
            <a href="https://www.envriplus.eu/" target="_blank"><img src="../envriplus_logo.png"></a>
          </td>
          <td id="header-details">
            utc: {{gen_date}}              
          </td>
        </tr>
      </table>
    </div>
    
    <div class="container">
    <hr>
    <h2>Survey Detail Information</h2>
      <ul>     
          {% for key, value in details.items() %}
            <li>{{key}} : {{value}}</li>
          {% endfor %}
      </ul>
    </div>
    
    <div class="container">
        <hr>
    <h2>Timeline</h2>
    <p>The following graph shows how many surveys where completed/submitted (yaxis) over time.</p>
    <img src="{{timeline}}" class="img-responsive" alt="Timeline">    
    </div>
    

    
    <div class="container">
    <hr>
    
    <h2>Statistics</h2>
    {{stats}}
    </div>
  </body>
</html>