
.container {
    max-width: 800px;
    padding-top: 10px;
	page-break-inside: avoid;
    }
.img-responsive{width:100%;}

table#header {    
    border: 0px;
    width: 100%; 
    background-color: #ffffff;
    }
td#header-text {
    text-align:     right;
    vertical-align: bottom;
    }
td#header-logo {
    vertical-align: top;
    padding-top: 25px;
    padding-bottom: 25px;
    }
    
.pagebreak {
    page-break-after: always;
    }